<div ng-app="dos" ng-controller="events_form">

	<b>Event type</b>
	<input type="text" ng-model="event.type" class="form-control">

	<br>
	<b>External Id</b>
	<select ng-options="p for p in profiles" ng-model="event.external_id" class="form-control"></select>

	<br>

	<b>Event properties</b>
	<div ng-repeat="property in properties">
		<div class="row">
			<div class="col-sm-6">
				<input type="text" ng-model="property.name" class="form-control">
			</div>
			<div class="col-sm-6">
				<input type="text" ng-model="property.value" class="form-control">
			</div>
		</div>
	</div>


	<br>
	<button class="btn btn-default" ng-click="addProperty()">Add Property</button>
	<button class="btn btn-primary" ng-click="track()">Track</button>
</div>