<div ng-app="dos" ng-controller="funnel_report">
	<div class="row">
		<div class="col-sm-3">
			<b>Etapas do funil</b>

			<br>
			<div ng-repeat="step in steps">
				<select ng-model="step.event" ng-options="e for e in events" class="form-control"></select>
			</div>

			<br>
			<button class="btn btn-primary" ng-click="addStep()">Adicionar etapa</button>

			<hr>
			<b>De</b>
			<input type="text" ng-model="time_range.from" class="form-control">
			<br>
			<b>Até</b>
			<input type="text" ng-model="time_range.to" class="form-control">
		</div>

		<div class="col-sm-9">
			<b>Filtros</b>
			<div class="row">
				<div ng-repeat="filter in filters">
					<div class="col-sm-4">
						<select ng-options="e for e in events" ng-model="filter.eventType" class="form-control"></select>
					</div>
					<div class="col-sm-4">
						<select ng-options="e for e in propertiesOfEvent(filter.eventType)" ng-model="filter.property" class="form-control"></select>
					</div>
					<div class="col-sm-4">
						<select ng-options="e for e in valuesOfProperty(filter.eventType, filter.property)" ng-model="filter.value" class="form-control"></select>
					</div>
				</div>
			</div>

			<br>
			<button class="btn btn-default" ng-click="addFilter()">Adicionar filtro</button>
			<button class="btn btn-primary" ng-click="render()">Gerar relatório</button>

			<hr>
			<div id="funnel-chart"></div>
			<hr>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-sm-3">
			<b>Perfis que chegaram até a etapa</b>
			<input type="text" ng-model="profilesAtStep" class="form-control">

			<br>
			<div ng-repeat="header in headers">
				<select ng-model="header.name" ng-options="p for p in propertiesOfProfiles" class="form-control"></select>
			</div>

			<br>
			<button class="btn btn-default btn-block" ng-click="addHeader()">Adicionar coluna</button>
			<button class="btn btn-primary btn-block" ng-click="renderPeople()">Gerar relatório</button>
		</div>

		<div class="col-sm-9">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>External Id</th>
						<th ng-repeat="header in headers">
							{{header.name}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people">
						<td>{{person.external_id}}</td>
						<td ng-repeat="header in headers">
							{{person.properties[header.name]}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
