<div ng-app="dos" ng-controller="people_report">
	<div class="row">
		<div class="col-sm-12">
			<b>Filtros</b>
			<br>
			<div ng-repeat="filter in filters">
				<div class="row">
					<div class="col-sm-4">
						<select ng-model="filter.property" ng-options="p for p in properties" class="form-control"></select>
					</div>
					<div class="col-sm-3">
						<select ng-model="filter.operator" ng-options="o for o in operators" class="form-control"></select>
					</div>
					<div class="col-sm-5">
						<div ng-if="filter.operator == '='">
							<select ng-model="filter.value" ng-options="v for v in valuesOfProperty(filter.property)" class="form-control"></select>
						</div>
						<div ng-if="filter.operator != '='">
							<input type="text" ng-model="filter.value" class="form-control">
						</div>
					</div>
				</div>
			</div>

			<br>
			<button class="btn btn-default" ng-click="addFilter()">Adicionar filtro</button>
			<button class="btn btn-primary" ng-click="render()">Gerar relatório</button>
		</div>
	</div>

	<hr>
	<div class="row">
		<div class="col-sm-3">
			<div ng-repeat="header in headers">
				<select ng-model="header.name" ng-options="p for p in properties" class="form-control"></select>
			</div>

			<br>
			<button class="btn btn-default" ng-click="addHeader()">Adicionar coluna</button>
		</div>

		<div class="col-sm-9">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>External Id</th>
						<th ng-repeat="header in headers">
							{{header.name}}
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="person in people">
						<td>{{person.external_id}}</td>
						<td ng-repeat="header in headers">
							{{person.properties[header.name]}}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>