<div ng-app="dos" ng-controller="profiles_report">
	<div class="row">
		<div class="col-sm-6">
			<b>Perfil sendo comparado</b>
			<select ng-options="p for p in profiles" ng-model="externalId" class="form-control"></select>
			
			<br>
			<b>De</b>
			<input type="text" ng-model="time_range.from" class="form-control">
			<br>
			<b>Até</b>
			<input type="text" ng-model="time_range.to" class="form-control">
		</div>

		<div class="col-sm-6">
			<b>Eventos</b>
			<div ng-repeat="e in eventsToCompare">
				<select ng-options="e for e in events" ng-model="e.eventType" class="form-control"></select>
			</div>

			<br>
			<button class="btn btn-default" ng-click="addEvent()">Adicionar evento</button>
		</div>
	</div>

	<br>
	<b>Filtros</b>
	<div class="row">
		<div ng-repeat="filter in filters">
			<div class="col-sm-4">
				<select ng-options="e for e in events" ng-model="filter.eventType" class="form-control"></select>
			</div>
			<div class="col-sm-4">
				<select ng-options="e for e in propertiesOfEvent(filter.eventType)" ng-model="filter.property" class="form-control"></select>
			</div>
			<div class="col-sm-4">
				<select ng-options="e for e in valuesOfProperty(filter.eventType, filter.property)" ng-model="filter.value" class="form-control"></select>
			</div>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-sm-12">
			<button class="btn btn-default" ng-click="addFilter()">Adicionar filtro</button>
			<button class="btn btn-primary" ng-click="render()">Gerar relatório</button>
		</div>
	</div>

	<br>
	<div class="row">
		<div class="col-sm-6">
			<div id="chart-profile" style="border: 1px solid #DFDFDF;"></div>
		</div>
		<div class="col-sm-6">
			<div id="chart-average" style="border: 1px solid #DFDFDF;"></div>
		</div>
	</div>
</div>