<div ng-app="dos" ng-controller="segmentation_report">
	<div class="row">
		<div class="col-sm-3">
			<b>Evento</b>
			<select ng-options="e for e in events" ng-model="eventType" class="form-control"></select>

			<br>
			<b>De</b>
			<input type="text" ng-model="time_range.from" class="form-control">
			<br>
			<b>Até</b>
			<input type="text" ng-model="time_range.to" class="form-control">

			<br>
			<b>Propriedade para segmentar</b>
			<select ng-options="e for e in propertiesOfEvent(eventType)" ng-model="segmentBy" class="form-control"></select>

			<br>
			<button class="btn btn-primary" ng-click="render()">Segmentar</button>

			<hr>

			<div ng-repeat="header in headers">
				<select ng-options="e for e in propertiesOfEvent(eventType)" ng-model="header.property" class="form-control"></select>
			</div>

			<br>
			<button class="btn btn-default" ng-click="addHeader()">Adicionar coluna</button>
		</div>

		<div class="col-sm-9">
			<div id="chart-segmentation"></div>

			<hr>

			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>{{segmentBy}}</th>
						<th ng-repeat="header in headers">
							{{header.property}}
						</th>
						<th>Momento</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="event in reportEvents">
						<td>{{event.properties[segmentBy] || '--'}}</td>
						<td ng-repeat="header in headers">
							{{event.properties[header.property] || '--'}}
						</td>
						<td>{{event.happened_at | dateFilter}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>