<!DOCTYPE html>
<html>
<head>
  <title>Analytics</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">DOS</small></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="dropdown">
			            <a href="/">
			            	Aplicações
			            </a>
			        </li>
				</ul>
			</div>
		</div>
	</nav>

	<script type="text/javascript">
		window.app = <%= raw(@app.to_json.to_s.gsub('nil', 'null')) %>;
	</script>

	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div style="border: 1px solid #DFDFDF; border-bottom: none; height: 40px; line-height: 40px; background-color: #FAFAFA; padding: 0 15px;">
					Aplicação: <b><%= @app.name %></b>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-3">
				<ul class="list-group">
					<li class="list-group-item">
						<%= link_to 'Relatório de Perfil', app_profiles_report_path(@app) %>
					</li>

					<li class="list-group-item">
						<%= link_to 'Relatório de Segmentação', app_segmentation_report_path(@app) %>
					</li>

					<li class="list-group-item">
						<%= link_to 'Relatório de Pessoas', app_people_report_path(@app) %>
					</li>

					<li class="list-group-item">
						<%= link_to 'Relatório de Funil', app_funnel_report_path(@app) %>
					</li>

					<li class="list-group-item">
						--
					</li>

					<li class="list-group-item">
						<%= link_to 'Formulário de eventos', app_events_form_path(@app) %>
					</li>

					<li class="list-group-item">
						<%= link_to 'Formulário de perfis', app_profiles_form_path(@app) %>
					</li>
				</ul>
			</div>

			<div class="col-sm-9" >
				<div style="background-color: #FFF; padding: 10px; border: 1px solid #DFDFDF;">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
